<html>
    <body>
        <form method="POST" action="/send" role="form", name="movieform">
            <div class="form-group">
                <label for="movie_title">Movie Title</label>
                <input type="text" class="form-control" id="movie_title" name="movie_title" placeholder="movie title">
            </div>
            <div class="form-group">
                <label for="imdb_id">IMDB ID</label>
                <input type="text" class="form-control" id="imdb_id" name="imdb_id" placeholder="imdb ID">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="number" class="form-control" id="year" name="year">
            </div>
            <input type="submit" value="submit" class="btn btn-default">
        </form>
    </body>
</html>
